/* RESET MARGIN */
.container-fluid {
    width:100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}

/* NAVBAR */
.navbar .nav-link {
  color: black;
}

.navbar .nav-link:hover a,
.navbar .nav-link:focus a {
  color: red;
  text-decoration: none;
}

.section1 .bloco1 {
  background-color: #cc2222;
  height: 380px;
}

.section1 .bloco1 .text-center {
  color: #dddddd;
  padding: 35px;
}

/* botão Saiba mais */
.section1 .botao {
  display: flex;
  flex-direction: row;
}

/* carrosel */
.section1 .bloco2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 176px;
  margin-top: 20px;
}

.section1 .bloco3 {
  background-color: white;
  width: 520px;
}

/* segunda parte do body*/
.section1 .bloco4 {
  background-color: #dddddd;
  height: 300px;
}

/* TELA DE CADASTRO */
#banner-cadastro {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#banner-texto {
  display: flex;
  flex-direction: column;
  padding-left: 8rem;
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.2rem;
}

#banner-cadastro img {
  margin-left: 20rem;
}

#texto-banner-cadastro {
  font-size: 6vw;
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding-top: 5vw;
}

#pills-tab {
  background-color: #cc2222;
  padding-bottom: 2vh;
}

#pills-profile, #pills-home {
  background-color: #dddddd;
  padding: 0 10% 0 10%
}

#pills-home-tab, #pills-profile-tab {
  color:aliceblue;
}

#form {
  padding-top: 5%;
  display: flex;
  justify-content: center;
}

#botao {
  display: flex;
  justify-content: center;
}

.section1 .bloco4 .text-center {
  padding-top: 25px;
}

/* botão 2 - Saiba Mais */
.section1 .botao2 {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

/* Page Pontos de Entrega */
/* Google Maps */

#map {
    height: 400px;
    width: 100%;
 
  }

/* Lista de Locais de Entrega */
.section1 .section2 .nav-link{
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
}

.section1 .section2{
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

/*Card de endereços */
.section2 img{
 margin-right: auto;
}

.section1 .section3{
  background-color: #cc2222;
  color:aliceblue;
  display: flex;
  justify-content: center;

}

.section1 .section3 a{
  color: aliceblue;
  
}


/* Estilização conteúdo página informativo */

#mainContent{
    background: linear-gradient(to bottom, white 10% , rgb(227, 233, 219)20%, rgb(236, 242, 228)90%, white 99%); 
}p

#nav-tab{
    backdrop-filter: blur(2px);
} 
#nav-tab a:active{
    background-color: #916f67;
}

#nav-tab a{
    font-weight: 500;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#333333;
    font-variant: small-caps;
}
#nav-tab a:hover{
    color: #6d2717;
}
.card{
    background-color: rgba(127, 255, 212, 0.207) !important;
    border: 2px dashed black !important;
    box-shadow: 0px 0px 15px 1px rgb(130, 151, 99);
}
.card-text{
    font-size: 80%;
}

/* Estilização botão Top */
#topBtn {
  position: fixed;
  bottom: 100px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  box-shadow: 0px 3px 10px 1px rgb(59, 57, 55);
  opacity: 80%;
  cursor: pointer;
  padding: 2px 5.5px 2px 5.5px;
  border-radius: 10px;
  background-color: #dcc3b5;
  color: rgb(68, 30, 19);
  transition: 500ms ease-in-out;
}
#topBtn:hover {
  background: #6d2717;
  color: #dcceb5;
}
/* FIM botão top  */


/* Footer */
.footer1 {
  background-color: #cc2222;
  color: black;
  height: 150px;
}

.footer2{
    background-color: red;
    color:black;
    height: 10vh;
}

.footer1 img {
  float: right;
  height: 50px;
  margin: 10px;
}

.footer1 .texto2 {
  align-items: flex-end;
  color: aliceblue;
  display: flex;
  height: 150px;
  justify-content: center;
  /* background-color: whitesmoke; */
}
