
*{
    margin: 0px;
};


.navbar .nav-link {
    color: black;
}

.navbar .nav-link:hover a,
.navbar .nav-link:focus a{
    color: red;
    text-decoration: none;
}


.section1 .bloco1{
    background-color: red;
    height: 200px;

}

/* TELA DE CADASTRO */
#banner-cadastro{
 display: flex;
 flex-direction: row;
 width: 100%;
}

#banner-texto{
    display: flex;
    flex-direction: column;
    padding-left: 5rem;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2rem;
}

#banner-cadastro img{
    margin-left: 20rem;
}

#texto-banner-cadastro{
    font-size: 5rem;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 12rem;
}

#form{
    padding-top: 5%;
    display: flex;
    justify-content: center;
    background-color: #DDDDDD;
}

#form form div input{
    width: 350px;
}

#botao{
    display: flex;
    justify-content: center;
}




/* Footer */
.footer1{
    background-color: red;
    color:black;
    height: 60px;
}

